<%= form_with(model: video) do |form| %>
  <% if video.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
        <% video.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :youtube_id, style: "display: block" %>
    <%= form.text_field :youtube_id %>
  </div>

  <div>
    <%= form.label :transcription, style: "display: block" %>
    <%= form.text_area :transcription %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
