<p style="color: green"><%= notice %></p>

<div class="container">

<!--
<iframe width="560" height="315" src="https://www.youtube.com/embed/<%=@video.youtube_id%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
-->
<video width="640" height="360" controls>
 <source src="/cotv/<%=@video.youtube_id%>.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>



<h1><%=@video.title%></h1>

<%=@video.youtube_id%><br>

<%=@video.transcription%>

<div>
  <%= link_to "Edit this video", edit_video_path(@video) %> |
  <%= link_to "Back to videos", videos_path %>

  <%= button_to "Destroy this video", @video, method: :delete %>
</div>
