

<%@objects.each do |item|%>
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <div class="col-auto d-none d-lg-block">
    <img src="https://img.youtube.com/vi/<%=item.youtube_id%>/0.jpg">
  </div>

  <div class="col p-4 d-flex flex-column position-static">
    <strong class="d-inline-block mb-2 text-primary">COTV</strong><%=fa_icon "camera-retro"%>
    <h3 class="mb-0"><%=link_to(item.title, "/videos/#{item.id}")%></h3>
    <div class="mb-1 text-muted"> <%=item.published_at%> </div>
    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
  </div>

</div>


  <br>
<%end%>
